*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: hsl(0, 0%, 94%);
}
#day{
    width:100px;
    height: 40px;
    border-radius: 4px;
}
#month{
    width:100px;
    height: 40px;
    border-radius: 4px;
}
#year{
    width:100px;
    height: 40px;
    border-radius: 4px;
}
label{
    color: hsl(0, 1%, 44%);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
.inpt{
    border: 1px solid hsl(0, 0%, 86%) ;
    font-weight: 700;
    font-size: 18px;
    padding-left: 11px;
}
input::placeholder{
    font-weight: 700;
    font-size: 20px;
    padding-left: 1px ;
}
.inpts{
    display: flex;
}
.cont2,.cont3{
    padding-left: 20px;
}
.arrow{
    width: 60px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 40px;
    padding: 16px;
    float: right;
    margin-right: 10px;
}
hr{
    border-top:0px solid hsl(0, 0%, 86%);
    width: 400px;
    display: block;
    margin-top: 30px;
}
#all{
    position: relative;
    background-color: white;
    border: 0px solid black;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 40px;
}
.grand{
    font-size: 58px;
    font-weight: 900;
}
span{
    color: hsl(259, 100%, 65%);
}
#result{
    margin-top: 20px;
}